.features {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 120px 0;
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.features-list-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}