.footer {
    background-color: #2E2F42;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}

.footer-container {
    display: flex;
    max-width: 1158px;
}

.left-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 264px;
}

.link-logo-footer {
    font-family: "Raleway", sans-serif;
    color: #F4F4FD;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.span-web-footer {
    color: #4D5AE5;
}

.p-footer {
    color: #F4F4FD;
}

